<h1>About Us</h1>
<p>Friends App is a simple friends app that can be used to keep track of friends and their info. The app was created using Ruby on Rails and hosted on Heroku.com. 
<br/>
To begin using, create a log in account and start creating your list of friends.
<br/> 
<br/>
<small>
Creator: Kelly Yong, a web developer located in NY.
<br/>
Feel free to check out her other projects at https://github.com/kellyayong
</small>
</p>