<h1>About Us</h1>
<br/>
<p>Friends App is a simple friends app that can be used to keep track of friends and their info. 
<br/>
This app was created using Ruby on Rails and hosted on Heroku.com. 
<br/>
To begin using, create a log in account and start creating your list of friends.
<br/> 
<br/>
<small>
Creator: Kelly Yong, a web developer located in NY.
<br/>
Feel free to check out her other projects on <a href='https://github.com/kellyayong'>github</a>.
</small>
</p>