<h1>About Us</h1>
<p>Friends App is a simple friends app that can be used to keep track of friends and their info. The app was created using Ruby on Rails and hosted on Heroku.com. To begin using, create a log in account at Friends App on Rails and start creating your list of friends.
<br/> 
<br/>
<small>
Creator: Kelly Yong, an aspiring web developer.
</small>
</p>